* {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    text-indent: 0 !important;;
}

body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background: none;
    font-size: 12pt;
    margin: 5%
}

.container {
    background: none
}

.hr, hr {
    background: #ccc;
    color: #ccc;
    width: 100%;
    height: 2px;
    margin: .5em 0;
    padding: 0;
    border: none
}

hr.space {
    background: #fff;
    color: #fff
}

h1 {
    font-size: 24pt;
    line-height: 1.2em
}

h2 {
    padding-top: 5px;

    font-size: 16pt
}

h3 {
    font-size: 12pt
}

h2, h3 {
    page-break-after: avoid
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none
}

code {
    font: .9em "Courier New", Monaco, Courier, monospace
}

a img {
    border: none
}
img{display: block;}
p img.top {
    margin-top: 0
}

blockquote {
    margin: 0em;
    padding: 0.5em;
    font-style: italic;
    font-size: .9em
}

.small {
    font-size: .9em
}

.large {
    font-size: 1.1em
}

.quiet {
    color: #999
}

.hide {
    display: block
}

th, td {
    text-align: left
}

a {
    background: transparent;
    font-weight: 700;
    text-decoration: underline
}

h1, h2, h3, h4, h5 {
    clear: both
}

.do-not-print, .edit-post, nav, object, embed, iframe, select, input, button, textarea, .button, #skip-to-nav, .presaisine-steps-wrapper, .navigation, #header-tools, #subcontent, #footer, #navigation-secondary, #colophon, #slideshow, #sidebar, .submit-button, .subheader, .content-header, .button-print, .backlink, .admin #header, .admin .secondary-navigation {
    display: none
}
