/*
@font-face {
  font-family: 'customfont';
  src: url('../fonts/customfont.eot');
  src: url('../fonts/customfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/customfont.woff') format('woff'),
  url('../fonts/customfont.ttf') format('truetype'),
  url('../fonts/customfont.svg#customfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/