blockquote.pull-left{
	padding-right: 15px;
}

.more-link{
	white-space: nowrap;
}
.badge a {color:#fff}

// Fix
#tinymce {
  margin: 10px !important;
  padding: 0 !important;
  min-width: inherit !important;
  border: 0 !important;
  background: none !important;
}