// Sharing
$facebook:    #3b5999;
$twitter:     #00acee;
$googleplus:  #cd483c;
$pinterest:   #ca2128;

#content .sharedaddy{
  .sd-button{
    @extend .btn;

    box-shadow:none;
    .share-count{
      vertical-align: middle;
      margin-left: 6px;
      margin-top: -2px;
    }

    &:before{
      top: 1px;
    }

    > span{
      line-height: normal;
    }

    @include button-variant($btn-default-color !important, $btn-default-bg, $btn-default-border);

    &.share-facebook{
      @include button-variant($white !important, $facebook, darken($facebook, 5%));
      .share-count{
        background: lighten($facebook, 20%)
      }
    }
    &.share-twitter{
      @include button-variant($white !important, $twitter, darken($twitter, 5%));
      .share-count{
        background: lighten($twitter, 20%)
      }
    }
    &.share-google-plus-1{
      @include button-variant($white !important, $googleplus, darken($googleplus, 5%));
      .share-count{
        background: lighten($googleplus, 20%)
      }
    }
    &.share-google-plus-1{
      @include button-variant($white !important, $googleplus, darken($googleplus, 5%));
      .share-count{
        background: lighten($googleplus, 20%)
      }
    }
    &.share-pinterest{
      @include button-variant($white !important, $pinterest, darken($pinterest, 5%));
      .share-count{
        background: lighten($pinterest, 20%)
      }
    }
  }
}

// Twitter
.widget_twitter_timeline{
  iframe{
    width: 100% !important;
  }
}