


//$wellBackground:                  $white;

//$hrBorder:                $color4;
//.breadcrumb{background: $white}
//.page-header, .form-actions, .modal-header, .modal-footer{border-color: $white}

body{
  position: relative;
  padding-top: 80px;
}
body.home{
  padding-top: 50px;
}

#wrapper{
  //@extend .container;
}
#main, #footer{
  @extend .container;
}

.main-inner{
  @include make-row;
}

#content{
  @include make-md-column(9);
}
#sidebar{
  @include make-md-column(3);
}
.home{
  #content{
    @include make-md-column(12);
  }
}



#navigation{
  //.navbar;
  @extend .navbar;

  @extend .navbar-inverse;
  @extend .navbar-fixed-top;

  //.container;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  border-color: darken($color1, 10%);
  border-radius: 0;
  .navbar-brand{margin-left: -15px;}
}
.navigation-inner{
  @extend .container;
}
.footer-wrapper{
  border-top: 1px solid #f2f2f2;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  padding-top: 20px;
  margin-top: 20px;
}
.footer-inner{
  @include make-row;
  .widget{
    @include make-sm-column(6);
    @include make-md-column(3);
  }
}

.modal-footer {
  @include box-shadow(none);
}



// BS Docs
.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-style: solid;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  &:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.bs-docs-section{
  .highlight, .bs-callout{
    display: none;
  }
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.bs-glyphicons {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
}
.bs-glyphicons li {
  float: left;
  width: 12.5%;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
}



.widget_pages{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: lighten($color1, 78%);
  border-radius: 5px;
  .widgettitle{
    display: none;
  }
  ul{

    @extend .nav;
    > li > a {
      display: block;
      color: #716b7a;
      padding: 5px 20px;
    }
    ul > li > a {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 30px;
      font-size: 90%;
    }
  }
}