@import "bootstrap.less";

// Social
@import "_social.less";

// Gravity Forms
@import "_gravityforms.less";

// Wordpress
@import "_common.less";
@import "_admin.less";
@import "_comments.less";
@import "_htmleditor.less";
@import "_image.less";
@import "_video.less";
@import "_widgets.less";
//@import "_icomoon.less";
//@import "_fonts.less";


.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    .border-radius(4px 0 4px 0);
    color: #9DA0A4;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    .border-radius(4px);
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}
