/* Common text styles */
.underline {text-decoration: underline}
.bold{font-weight: bold;}
.thin{font-weight: normal;}
.text-color{color:@text-color}
@white: #ffffff;



/* Focus */
::-moz-selection {
    background: @link-color !important;
    color: #fff
}

::selection {
    background: @link-color !important;
    color: #fff
}

/* Fancybox */
#fancybox-ajaxcontainer{
  display: none;

}
#fancybox-content {
  #content {margin: 0;width: auto;}
  .breadcrumb{display: none;}
  .entry-meta{display: none}
}
#fancybox-loadingicon{margin: 150px 45% 0 45%}
#fancybox-frame{
    background:url('../img/ajax-loader.gif') #fff  no-repeat 50% 50% !important;
}

/* Frame load */
iframe{border: 0}
.in-frame{
  margin:0 !important;
  body{border:none;margin: 0;padding: 0;}
  #header-container, #header,
  #sidebar, .breadcrumb,
  #prefooter, #footer, .page-header, .footer-wrapper,
  .movetomodal-footer,
  #wpadminbar {display: none;}
  .container, .row{width: 100%;margin: 0;}
  .page-header{margin-top: 0;padding-top: 0;}
  [class*="span"] {
      float: none;
      margin-left: 0;
      width: 100%;
  }
}

#modal-frame{width: 100%;height: 98%;}

/* Emulate table 100% width */
.emulate-table{display: table; width: 100%}
.emulate-table-row{display: table-row}
.emulate-table-cell{display: table-cell;vertical-align: top;}


/* Comments */
.edit-comment{
  color: @white;
}
.comment-message .edit-comment{
  display: inline-block;
}

/* Page template "Styles" */
.bs-docs-example:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  color: #9DA0A4;
  content: "Example";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.bs-docs-example {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin: 15px 0;
  padding: 39px 19px 14px;
  position: relative;
}

/* Edit post link */
a.edit-post{
  right: 0;
  top: 0;
  display: none;
  position: absolute;
}
.post {position: relative;}

.post:hover {
  background: lighten(@gray-lighter, 45%);
  a.edit-post{
    display: inline;z-index: 800;
  }

}

