$body-bg: red;

$brand-primary: blue;
$brand-success: green;

$headings-color: yellow;

$navbar-inverse-bg: orange;
$navbar-inverse-border: pink;

$jumbotron-bg:                   lightgreen;

$icon-font-path: '../../stormbringer/fonts/';