// Yoast breadcrumb
p.breadcrumb {

  color: $breadcrumb-color;
  .breadcrumb_last{
    color: $breadcrumb-active-color;
  }
  a{
    margin-right: 5px;
  }
  span[rel='v:child'], .breadcrumb_last{
    margin-left: 5px;
  }
}

.first-heading{
  margin-top: 0;
}
.last-paragraph{
  margin-bottom: 0;
}
.nolink{
  cursor: not-allowed;
}
.nobr {
  white-space: nowrap;
}
.img-100{
  width: 100%;
}

.hideifonlyonechild{
  > *:first-child:nth-last-child(1){
    display: none;
  }
}

// Common text styles
.underline {text-decoration: underline}
.bold{font-weight: bold;}
.thin{font-weight: normal;}
.text-color{color:$text-color}
$white: #fff;


// Iframe
iframe{border: 0}
.in-frame{
  margin:0 !important;
  body{border:none;margin: 0;padding: 0;}
  #header-container, #header,
  #sidebar, .breadcrumb,
  #prefooter, #footer, .page-header, .footer-wrapper,
  .movetomodal-footer,
  #wpadminbar {display: none;}
  .container, .row{width: 100%;margin: 0;}
  .page-header{margin-top: 0;padding-top: 0;}
  [class*="span"] {
      float: none;
      margin-left: 0;
      width: 100%;
  }
  #content{
    padding: 0;
  }
  .gform_footer{
    margin-bottom: 0;
  }
}

#modal-frame{width: 100%;height: 98%;}

// Emulate table 100% width
.emulate-table{display: table; width: 100%}
.emulate-table-row{display: table-row}
.emulate-table-cell{display: table-cell;vertical-align: top;}

.table-th-background {
  > tbody > tr > th {
    background-color: $table-bg-accent;
  }

}


// Select
.bootstrap-select .btn:focus {
  outline: 0 !important;
}
.bootstrap-select a:focus{
  outline: 0 !important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width: auto;
}

// Comments
.edit-comment{
  color: $white;
}
.comment-message .edit-comment{
  display: inline-block;
}

// Page template "Styles"
.bs-docs-example:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  color: #9DA0A4;
  content: "Example";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.bs-docs-example {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin: 15px 0;
  padding: 39px 19px 14px;
  position: relative;
}

// Edit post button
a.edit-post{
  right: 0;
  top: 0;
  display: none;
  position: absolute;
  color: #fff !important;
  width: auto;
  @include button-size($padding-base-vertical, $padding-base-horizontal !important, $font-size-base !important, $line-height-base, $border-radius-base);
  &:after{
    content:"" !important;
  }
}
.hentry {position: relative;}
.hentry:hover {
  //background: lighten($gray-lighter, 45%);
  a.edit-post{
    display: inline;
    z-index: 800;
  }
}

// Print
@media print {
  .do-not-print, .edit-post, nav, object, embed, iframe, select, input, button, textarea, .button, #skip-to-nav, .presaisine-steps-wrapper, .navigation, #header-tools, #subcontent, #footer, #navigation-secondary, #colophon, #slideshow, #sidebar, .submit-button, .subheader, .content-header, .button-print, .backlink, .admin #header, .admin .secondary-navigation {
    display: none
  }
}

// Pagination
nav.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;

  .screen-reader-text{
    display: none;
  }

  .nav-links {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin-left: -1px;
    }
    &:first-child {
        margin-left: 0;
        @include border-left-radius($border-radius-base);
    }
    &:last-child {
      @include border-right-radius($border-radius-base);
    }
  }

  .nav-links {
    > a,
    > span {
      &:hover,
      &:focus {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }
  }

  span.current {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }
}

.bootstrap-select{
  max-width: 100%;
}


// Mixin for background-size:cover
@mixin background-size-cover() {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


// Mixin for object-fit:cover
@mixin object-fit-cover() {
  width:100%;
  height:100%;
  object-fit: cover;
}
.objectfit{
  @include object-fit-cover();
  &.objectfit-fallback{
    @include background-size-cover();
  }
}

// Navbar toggle icon remove
.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    @include transition(all 0.2s);
  }
  .top-bar {
    @include rotate(45deg);
    @include transform-origin(10% 10%);
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    @include rotate(-45deg);
    @include transform-origin(10% 90%);
  }

  &.collapsed {
    .top-bar {
      @include rotateX(0deg);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      @include rotateX(0deg);
    }
  }
}


// Carousel bootstrap for Owlcarousel
.carousel-indicators {
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px 2px;
    text-indent: -999px;
    border: 1px solid $carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000000 \9; // IE8
    background-color: rgba(0, 0, 0, 0); // IE9

    // Masquer la liste de puces s'il n'y a qu'une seule puce
    &:first-child:nth-last-child(1) {
      display: none;
    }
  }
  .active {
    margin: 0 2px;
    width: 12px;
    height: 12px;
    background-color: $carousel-indicator-active-bg;
  }
}

.carousel-control {
  &:hover {
    cursor: pointer;
  }
}

.touch, .touchevents {
  .carousel-controls {
    display: none;
  }
}
.carousel-controls {
 &.disabled{
   display: none;
 }
}

// Navbar stuck on scroll
#navigation{
  &.navbar-stuck{
    @extend .navbar-fixed-top;
    @include transition(0.3s ease-out);
  }

  &.navbar-stuck.navbar-outofview{
    top: -$navbar-height - 1px;
  }
}

// Admin only notice
.admin-only{
  position: relative;
  &:before{
    @extend .glyphicon;
    border-top:4px solid #2FFF7B;
    content: "\e106";
    color: #FF2FAA !important;
    width:100%;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Typekit loading avoid FOUT
h1, h2, h3, h4, h5, h6, p, ul, a{

  .js &{
    //visibility: hidden;
  }
  .wf-active &, .wf-inactive &, .wf-error &, .no-js &{
    //visibility: visible;
  }
  // For Hustle Popups
  .wph-modal &, .inc_opt_popup &{
    visibility: hidden;
  }
  .wph-modal-show &, .wpoi-show &{
    visibility: visible;
  }
}


html.noscroll {
  &, body {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
  }
}


// Page template: fullwidth
body.template-fullwidth, body.template-fullwidthnotitle{
  #main, .main-inner{
    padding: 0;
    margin: 0;
    width:100%;
  }
}

// Page template: fullwidthnotitle
body.template-fullwidthnotitle{
  #content{
    .page-header, .entry-meta, .breadcrumb{
      display: none;
    }
  }
}


// Spin icon
@keyframes glyphicon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// Last paragraph
.well *:last-child{
  margin-bottom: 0;
}