.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_validation_container {
  display: none!important;
  position: absolute!important;
  left: -9000px;
}

.gform_wrapper {

  .gfield_required{
    display: inline-block;
    margin-left: 4px;
  }

  .gf_list_inline .ginput_container_checkbox .checkbox,
  .gf_list_inline .ginput_container_radio .radio {
    width: auto !important;
    float: none !important;
    margin: 0 8px 10px 0;
    display: -moz-inline-stack;
    display: inline-block;
  }


  .gfield.ginput_right, .gfield .ginput_right{
    @media (min-width: $screen-sm-min) {
      padding-left: 16px;
    }
  }

  .gfield .ginput_full{
    display: block;
    width: 100%;
  }

  .gfield select, .gfield .bootstrap-select, .gfield .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    display: block;
    width: 100% !important;
  }

  .gfield .btn-group > .btn{
    float: none;
  }

  .gfield.ginput_left,
  .gfield.ginput_right,
  .gfield .ginput_left,
  .gfield .ginput_right
  {
    @media (min-width: $screen-sm-min) {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      float: none;
    }
  }

  .gfield.ginput_left:before,
  .gfield .ginput_left:before {
    @media (min-width: $screen-sm-min) {
      content: "";
      display: block;
      clear: both;
    }
  }

  .gfield .ginput_right:after,
  .gfield.ginput_right:after {
    @media (min-width: $screen-sm-min) {
      content: "";
      display: block;
      clear: both;
    }
  }

  .gf_invisible, .gfield_visibility_hidden{
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }

  .ginput_complex {

      > span {
        display: block;
        margin-bottom: $form-group-margin-bottom;
      }


    /*&.ginput_container_email,
    &.ginput_container_name {

      > span {

        display: block;
        margin-bottom: $form-group-margin-bottom;

        @media (min-width: $screen-sm-min) {
          //margin-bottom: 0;
          display: inline-block;
          vertical-align: top;
          //padding-right: 16px;
          //margin-right: -4px;

        }

      }
    }
    &.ginput_container {
      overflow: visible;
      width: 100%;

      > span {

        @media (min-width: $screen-sm-min) {
          float: left;
          width: 50%;
          margin-bottom: $form-group-margin-bottom;
          padding-left:15px;
          &:first-child{
            padding-left: 0;
          }


        }
      }

      .form-control {
        margin-bottom: 5px;
      }

      &.gf_name_has_1,
      &.gf_name_has_2,
      &.gf_name_has_3 {
        @media (min-width: $screen-sm-min) {
          //width: calc(100% + 15px);
          width: 100%;
        }

      }
      &.gf_name_has_2 {
        span {
          @media (min-width: $screen-sm-min) {
            width: 50%;
          }
        }
      }
      &.gf_name_has_2,
      &.gf_name_has_3,
      &.gf_name_has_4,
      &.gf_name_has_5 {
        span:first-child {
          @media (min-width: $screen-sm-min) {
            margin-left: 0 !important;
            &:before{
              content: "";
              display: block;
              clear: both;
            }
          }

        }
        span:last-child {
          @media (min-width: $screen-sm-min) {
            padding-right: 0;
            &:after{
              content: "";
              display: block;
              clear: both;
            }
          }
        }
      }
    }*/

    /*&.ginput_container_address {
      label{
        font-weight: normal;
      }
      .ginput_left, .ginput_right {
        @media (min-width: $screen-sm-min) {
          width: 50%;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
        }

      }

      .ginput_left {
        @media (min-width: $screen-sm-min) {
          margin-right: 8px;
        }
      }
      .ginput_right {
        @media (min-width: $screen-sm-min) {
          margin-right: -8px;
          padding-right: 8px;
        }
      }
    }*/

    /*&.ginput_container_email {
      label{
        font-weight: normal;
        color: lighten($text-color, 25%);
      }

      .ginput_left, .ginput_right {
        @media (min-width: $screen-sm-min) {
          width: 50%;
          margin: 0 -4px 0 0;
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;

        }
      }

      .ginput_left {
        @media (min-width: $screen-sm-min) {
          padding-right: 8px;
        }
      }
      .ginput_right {
        @media (min-width: $screen-sm-min) {
          padding-left: 8px;
        }
      }
    }*/
  }

  .form-horizontal{

    .control-label{
      @include make-sm-column(3);
      text-align: right;
    }
    .form-input{
      @include  make-sm-column(9);
    }
    .help-block, .form-actions, .form-input-offset{
      @include make-sm-column(9);
      @include make-sm-column-offset(3);
    }
    .form-input-offset .checkbox{
      margin-left: 20px;
    }
  }

  .form-actions{
    display: inline-block;
  }
  .form-fields{
    overflow: hidden;
  }
  .form-control-auto{
    width: auto;
  }

}


.field_sublabel_hidden_label{
  .hidden_sub_label{
    display: none;
  }
}

.gform_wrapper .hidden_label .gfield_label {
  clip: rect(1px,1px,1px,1px);
  position: absolute!important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


/* hide the honeypot field  ------------------------------------------------------*/

/*
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}
*/

/* Menu icon */
