img {
  @extend .img-responsive;
  .ie8 & {
    width: auto;
  }
}

@mixin desaturate() {
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin notdesaturate() {
  -webkit-filter: none;
  filter: none;
}

.ie8 #main .thumbnails img {
  max-height: none !important;
  max-width: none !important;
}

.thumbnails img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.metadata p.alert-message {
  margin-right: 0;
  margin-bottom: 18px;
}

.gallery {
  list-style-type: none;
  //margin-left: 0;
  @include make-row;
  padding-left: 0;
}

.gallery-columns-4 {
  li {
    @include make-xs-column(6);
    @include make-sm-column(3);
  }
}

.gallery-columns-3 {
  li {
    @include make-xs-column(6);
    @include make-sm-column(4);
  }
}

.gallery-columns-6 {
  li {
    @include make-xs-column(4);
    @include make-sm-column(2);
  }
}

.gallery-columns-2 {
  li {
    @include make-xs-column(12);
    @include make-sm-column(6);
  }
}

// Thumbnails/Captions
.gallery .caption p {
  margin-bottom: 0
}

figure {
  margin: 0
}

.alignleft {
  @media (min-width: $screen-sm-min) {
    float: left;
    clear: left;
  }
}

.aligncenter {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.alignright {
  @media (min-width: $screen-sm-min) {
    float: right;
    clear: right;
  }
}

figure, img {

  @media (min-width: $screen-sm-min) {

    &.alignleft {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    &.alignright {
      margin-left: 20px;
      margin-bottom: 20px;
    }

  }
}

.thumbnail {
  max-width: 100%;
  position: relative;
  margin: auto auto 20px auto;
  display: block;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }

  .caption {
    color: $white;
    padding: 5px 9px;
    //position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 4px;
    bottom: 4px;
    right: 4px;
    h5 {
      //font-size: 16px;
      color: #ffffff
    }
    p {
      //font-size: 11px;
      color: #ffffff
    }
  }
  .thumbnail {
    position: inherit;
    left: 0;
    padding: 0;
  }
  img {

  }
}

.wp-caption {
  width: auto !important;
  img {
    max-width: 100%;
  }
}

