
.navbar-shoppingcart {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-bottom: 0;

  .cart-contents {
    display: none;
  }

  .widget_shopping_cart {
    display: none;


    p{
      padding: $padding-base-vertical $padding-base-horizontal;
    }

    .product_list_widget {
      //max-height: 15em;
      //overflow-y: auto;

      img {
        margin-left: 1em;
      }
      .glyphicon-remove{
        margin-right: 10px;
      }
    }
  }


  @media (min-width: $screen-md-min) {
    position: relative;


    .buttons{
      .button + .button{
        margin-top: $line-height-computed;
      }
    }

    li{
      float: none;

    }
    .cart-contents {
      //padding: ms(3) 0;
      display: block;
      position: relative;
      background-color: transparent;
      height: auto;
      width: auto;
      text-indent: 0;

      /*&:after {
        //@include fa-icon();
        height: 1em;
        float: right;
        content: "\f291";
        line-height: 1.618;
      }*/

      .amount {
        margin-right: .327em;
      }

      .count {
        font-weight: 300;
        opacity: 0.5;
        //font-size: ms(-1);
      }

      span {
        display: inline;
      }
    }

    .widget_shopping_cart {
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 999999;
      //font-size: ms(-1);
      left: -999em;
      display: block;

      background: $navbar-inverse-bg;

      ul{
        @include list-unstyled;
      }
      li{
        padding: $padding-base-vertical $padding-base-horizontal;
      }
      img{
        max-width: 40px;
        float: right;
        margin-left: $padding-base-horizontal;
      }
      .quantity{
        opacity:0.5;
        font-size: 90%;
      }

      a{
        display: block;
      }
      a.remove{
        position: relative;
        float: left;
        top: auto;

        &:before {
          text-align: left;
        }
      }

      .widgettitle {
        display: none;
      }

    }

    &:hover,
    &.focus {
      .widget_shopping_cart {
        left: 0;
      }
    }
  }
}


/*
.alert-woo{
  @include clearfix;
  .btn{
    float: right;
  }
}
*/


// Product list
ul.products{
  margin-left: 0;
  clear: both;

  //@include clearfix;
  padding: 0;
  @include make-row;

  li.product{
    list-style: none;
    margin-left: 0;
    text-align: center;
    position: relative;
    @include make-sm-column(12);
    @include make-md-column(4);
    margin-bottom: ($line-height-computed / 2);

    &.first{
      clear: both;
    }

    .onsale {
      background-color: $body-bg;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      padding: .5em 1em;
      text-transform: uppercase;
      font-weight: 800;
    }


    a{
      position: relative;
      display: block;
    }

  }
}

// Product single
.single-product{

  .wc-tabs-wrapper, .related, .upsells{
    margin-top: ($line-height-computed);
    clear: both;
  }

  div.product{

    position: relative;
    overflow: hidden;
    @include make-row;

    .images, .summary{
      @include make-sm-column(6);
    }

    .wc-tabs-wrapper, .related, .upsells{
      clear: both;
      //@extend .container;
      @include make-xs-column(12);
    }


    form.cart{
      @include clearfix;
      margin-top: ($line-height-computed);

      .quantity{
        float: left;
        input{
          max-width: 80px;
        }
      }
      button{
        float: right;
      }
      .single_add_to_cart_button{
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      }
      /*.stormbringer_single_add_to_cart_button{
        display: block;
      }*/
    }

  }
}

// Woocommerce all pages
.woocommerce-checkout, .woocommerce-account, .woocommerce-cart {
  article.page{
    .entry-meta{
      display: none;
    }
  }

  #content{
    @include make-md-column(12);
  }

  #customer_details, #order_review, #order_review_heading{
    @include make-md-column(6);
  }
}


// Checkout
.woocommerce-checkout{

  #payment .payment_methods li {
    background-color: $table-bg-accent;
    .payment_box{
      background: $body-bg;
    }
  }


  form.woocommerce-checkout{
    @include make-row;
  }

  .place-order{
    margin: $padding-base-horizontal $padding-base-vertical;
  }

  .payment_methods {
    margin: 0 !important;
    padding: 0 !important;

    > .wc_payment_method {
      @include clearfix;
      

      > input{
        position: absolute;
        top: 10px;
        left: 10px;
        margin-right: 10px;
      }
      > label {
        display: block;
        //padding: ms(2);
        cursor: pointer;
        padding: $padding-base-horizontal $padding-base-vertical;
        padding-left: 40px;
        margin-bottom: 0;

        &:before {
          //@include fa-icon();
          //content: "\f10c";
          //margin-right: ms(-3);
          //@include transition(color, ease, .2s);
        }
      }
    }
    > .payment_method_paypal{
      .about_paypal{
        display: none;
      }
    }


    li {
      list-style: none !important;
      margin-left: 0;
      margin-bottom: 1px;
      position: relative;

      img {
        //float: right;
        border: 0;
        padding: 0;
        max-height: 1.618em;
        float: right;
        //max-height: ms(3);
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &.wc_payment_method > input[type=radio]:first-child {
        //@include screen-reader-text();

        &:checked + label:before {
          //content: "\f192";
        }
      }

      p {
        margin: 0;
      }

      .payment_box {
        //padding: ms(2);
        padding: $padding-base-horizontal $padding-base-vertical;

        fieldset {
          border: 0;
          margin: 0;
          padding: 1em 0 0 0;
          //font-size: ms(-1);

          label {
            width: auto;
            margin-left: 0;
          }

          .form-row {
            margin-bottom: 1em;

            input[type="checkbox"] {
              margin-right: 5px;
            }
          }

          #cvv {
            width: 22% !important;
          }

          .help {
            width: 75%;
            float: right;
          }
        }

        .woocommerce-SavedPaymentMethods {
          padding-top: 1em;
          margin: 0;

          li {
            //margin-top: ms(-2);

            input[type=radio] {
              margin-right: .236em;
            }
          }
        }

        ul.wc-saved-payment-methods {
          margin-left: 0;
        }

        .wc-credit-card-form-card-number,
        .wc-credit-card-form-card-expiry,
        .wc-credit-card-form-card-cvc {
          //font-size: ms(2);
        }

        .wc-credit-card-form-card-number {
          background-repeat: no-repeat;
          //background-position: right ms(-2) center;
          background-size: 31px 20px;
          //background-image: url(../../../assets/images/credit-cards/unknown.svg);

          /*&.visa {
            background-image: url(../../../assets/images/credit-cards/visa.svg);
          }

          &.mastercard {
            background-image: url(../../../assets/images/credit-cards/mastercard.svg);
          }

          &.laser {
            background-image: url(../../../assets/images/credit-cards/laser.svg);
          }

          &.dinersclub {
            background-image: url(../../../assets/images/credit-cards/diners.svg);
          }

          &.maestro {
            background-image: url(../../../assets/images/credit-cards/maestro.svg);
          }

          &.jcb {
            background-image: url(../../../assets/images/credit-cards/jcb.svg);
          }

          &.amex {
            background-image: url(../../../assets/images/credit-cards/amex.svg);
          }

          &.discover {
            background-image: url(../../../assets/images/credit-cards/discover.svg);
          }*/
        }
      }
    }
  }
}

// Cart
.woocommerce-cart{

  .cart-collaterals{
    @include make-row;
    .cart_totals{
      @include make-sm-column-offset(6);
      @include make-sm-column(6);
    }
  }

  table.cart{
    @media (min-width: $screen-md-min) {
      text-align: right;
    }
    .button[name=update_cart]{
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
  }

  .coupon{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    float: left;

    label{
      vertical-align: middle;
      margin-bottom: 0;
      display: none;
    }

    input{
      display: inline-block;
      width: auto;
      margin: 0;
      vertical-align: top;
    }
  }
  .qty{
    width: 80px;
  }
  .product-remove{
    vertical-align: middle;
  }
  .product-thumbnail {
    max-width: 100px;
  }

}

.woocommerce-message{
  @include clearfix;
  .button, .btn{
    float: right;
  }
}

// Big buttons
.wc-proceed-to-checkout, .woocommerce-checkout-payment{
  .button{
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    display: block;
    width: 100%;
  }
}

// Account
.woocommerce-account {

  a.woocommerce-Button{
    //display: block;
  }

  input[type=submit]{
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }

  .entry-content{
    .woocommerce{
      @include make-row;
    }
    .woocommerce-MyAccount-navigation{
      @include make-sm-column(3);
    }
    .woocommerce-MyAccount-content{
      @include make-sm-column(9);
    }
  }
}

// Ordering
.woocommerce-ordering{
  margin-bottom: $line-height-computed;
}


// Price filter widget
.widget_price_filter {
  .price_slider {
    margin-bottom: 1em;
  }

  .price_slider_amount {
    text-align: right;
    line-height: 2.4;
    font-size: 0.8751em;

    .button {
      font-size: 1.15em;
    }

    .button {
      float: left;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    background-color: $brand-primary;
    border-radius: 1em;
    cursor: ew-resize;
    outline: none;
    top: -.3em;

    //&:last-child {
    margin-left: -.5em;
    //}
  }

  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: $brand-primary;
  }

  .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background-color: $gray-lighter;
    border: 0;
  }

  .ui-slider-horizontal {
    height: .5em;
  }

  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }

  .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
  }

  .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
  }
}