
/**
Misc
 */
.woocommerce .products ul, .woocommerce ul.products{
  @include list-unstyled;
}


/**
Ordering
 */
.woocommerce-ordering{
  margin-bottom: $line-height-computed;
  select{
    width: auto;
  }
}


/**
Layout
 */
.woocommerce ul.products{

  .ajax_add_to_cart{
    &.loading {
      opacity: 0.5;
      position: relative;
      color: transparent;

      &:after {
        //@include fa-icon();
        content: '\e031';
        font-family: 'Glyphicons Halflings';
        color: $text-color;
        animation: glyphicon-spin .75s linear infinite;
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
      }
    }
  }

  margin-left: 0;
  clear: both;

  //@include clearfix;
  padding: 0;
  @include make-row;

  li.product{
    list-style: none;
    margin-left: 0;
    text-align: center;
    position: relative;
    @include make-sm-column(12);
    @include make-md-column(4);
    margin-bottom: ($line-height-computed / 2);

    &.first{
      clear: both;
    }

    .onsale {
      background-color: $body-bg;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      padding: .5em 1em;
      text-transform: uppercase;
      font-weight: 800;
    }


    a{
      position: relative;
      display: block;
    }

  }
}



/**
Mobile
 */
@media (max-width: 450px) {
  .woocommerce ul.products li.product{
    float: none !important;
    width:100% !important;
  }
}
