/**
Buttons
 */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  @extend .btn;
  @extend .btn-default;
}
.woocommerce .added_to_cart{
  @extend .btn;
  @extend .btn-link;
  &.loading{
    opacity: 0.5;
  }
}

/**
Big buttons
 */
.woocommerce{
  .wc-proceed-to-checkout, .woocommerce-checkout-payment{
    .button{
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      display: block;
      width: 100%;
    }
  }
}


/**
Alerts / Messages
 */
.woocommerce-message{
  @include clearfix;
  .button, .btn{
    float: right;
  }
}

.woocommerce-error{
  list-style: none;
}

.woocommerce-info{
  padding: 0;
}

/**
Pagination
 */
.woocommerce-pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;

  .screen-reader-text{
    display: none;
  }

  .page-numbers {
    display: inline; // Remove list-style and block-level defaults
     a,
     span {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      margin-left: 0;
      @include border-left-radius($border-radius-base);
    }
    &:last-child {
      @include border-right-radius($border-radius-base);
    }
  }

  .nav-links {
     a,
     span {
      &:hover,
      &:focus {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }
  }

  span.current {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }
}

/**
Forms
 */
.quantity input{
  @extend .form-control;
}
.woocommerce-ordering select{
  @extend .form-control;
}
.control-label{
  abbr.required{
    border: none;
    text-decoration: none;
  }
}

#calc_shipping_country, #calc_shipping_postcode{
  @extend .form-control;
}
















