/**
Buttons
 */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  @extend .btn;
  @extend .btn-default;
}
.woocommerce .added_to_cart{
  @extend .btn;
  @extend .btn-link;
  &.loading{
    opacity: 0.5;
  }
}

/**
Big buttons
 */
.wc-proceed-to-checkout, .woocommerce-checkout-payment{
  .button{
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    display: block;
    width: 100%;
  }
}

/**
Alerts / Messages
 */
.woocommerce-message{
  @include clearfix;
  .button, .btn{
    float: right;
  }
}

/**
Forms
 */
.quantity input{
  @extend .form-control;
}
.woocommerce-ordering select{
  @extend .form-control;
}
.control-label{
  abbr.required{
    border: none;
    text-decoration: none;
  }
}

















